body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    max-width: 100%;
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #0056b3;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bff;
}

button.add {
    background-color: #007bff;
}

button.complete {
    background-color: #28a745; /* Verde para o botão de concluir */
    color: white;
}

button.complete:hover {
    background-color: #218838; /* Cor mais escura ao passar o mouse */
}


button.remove {
    background-color: #dc3545;
}

button.remove:hover {
    background-color: #c82333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f8faf8;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

li.completed {
    background-color: #e9ecef;
    text-decoration: line-through;
    color: #6c757d;
}

li button {
    border: none;
    background: transparent;
    cursor: pointer;
}

li button:hover {
    opacity: 0.7;
}
